.list-component{
    min-height: 400px;
}
.list-component .list,
.list-component .list > div{
    list-style: none;
    display: flex;
}
.list-component .list li{
    font-size: 20px;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid black;
    position: relative;
    left: 0;
    bottom: 0;
    transition: all 1s;
}