@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 100px;
}

header h1 {
  font-weight: bold;
  font-size: 2rem;
}
header ul {
  display: flex;
  gap: 10px;
}
header a {
  font-size: 1.3rem;
  padding: 0 5px;
  border: 2px solid;
  border-radius: 5px;
}
header a:hover {
  background-color: gainsboro;
}
header a.active {
  background-color: black;
  color: white;
  border-color: black;
}
